.nav-section{
          color: white;
          height: 4.2em;
          
}
.logo-img{
          height: 40px;
          width: 60px;
          background: #344CB7;
          border-radius: 15px;
          height: 4.2em;
          
}


.nav-ul{
          display: flex;
          justify-content: space-between;
          padding: 20px;
          background: #344CB7;
          text-align: center;
          
}
.information-title{
          padding: 2em;
}

.information{
          background: #ff2f55;
          color: white;
          font-size: larger;
          font-weight: 600;
          padding: 5px;
          display: flex;

          
          
          
}
.subjects{
          
          color: #ffffff;
          background:#118B50 ;
          padding:.6em;
          margin: 1em;
          border-radius: 1em;
          height: 3em;
          
}
.all-subjects{
          background: #ff8484;
          padding: .3em;
          border: none;
          border-radius: .5em;
}
.log-out-btn{
          margin-bottom: 20px;
}