.nav-section{
          color: white;
}
.logo-img{
          height: 40px;
          width: 40px;
          background: #344CB7;
          margin: 5px;
}
.nav-ul{
          display: flex;
          justify-content: space-between;
          padding: 20px;
          background: #344CB7;
          text-align: center;
}
/* .information{
          
          height: 3em;
          display: block;
} */

.information{
          background: #578FCA;
          color: white;
          font-size: larger;
          font-weight: 600;
          padding: 25px;
          display: flex;
          
          
          
          
}
.subjects{
          
          color: #ffffff;
          background:#118B50 ;
          padding: .5em;
          border-radius: 1em;
}
.all-subjects{
          background: #ff8484;
          padding: .3em;
          border: none;
          border-radius: .5em;
}