.navbar{
          color: rgb(255, 255, 255);
          
}
.navbar-center a{
          font-size: 40px;
}
.dropdown{
          
}
li{
          color: black;
          font-weight: 400;
}
.nav-second{
          color: black;
          font-weight: 500;
          padding-left: 3em;
}
.nav-second-container{
          background: #f7f1e3;
          margin: 0 auto;
}


.dropdown-content{
          font-weight: 400;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 1em;
}
.dropdown-btn{
          background: #f7f1e3;
          text-align: center;
          padding: 5px 20px;
}