.registration-section{
          background: #acacac;
          /* background-image: url('./assets/bg.jpg'); */
          
}
.label{
          font-weight: 500;
          font-size: larger;
          color: #ffffff;
}
.card-body{
          background: #355F2E;
          border-radius: 10px;
}
.registration-title{
          font-size: 5em;
          color: rgb(70, 110, 244);
}
.welcome-bio{
          font-size: 2em;
}
.college-name{
          color: rgb(43, 74, 201);
          font-size: 1.5em;
          font-family: Georgia, 'Times New Roman', Times, serif;
}