

.registration-section{
          background: #2c3e50;
          padding: 80% auto;
          border:3px solid rgb(239, 25, 25);
          
}
.label{
          font-weight: 500;
          font-size: larger;
          color: #ffffff;
}
.card-body{
          background: #ecf0f1;
          border-radius: 10px;
}
.registration-title{
          font-size: 5em;
          color: rgb(70, 110, 244);
}
.welcome-bio{
          font-size: 2em;
          height: 50px;
          color: white;
}
.college-name{
          color: #f39c12;
          font-size: 1.5em;
          font-family: Georgia, 'Times New Roman', Times, serif;
}

